<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>FaceTunes</title>

  <!-- slider stylesheet -->
  <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css" />


  <!-- font wesome stylesheet -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,600,700&display=swap" rel="css/stylesheet">
  <!-- Custom styles for this template -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
  <!-- responsive style -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/responsive.css') }}" " />
</head>

<body>
  <div class="hero_area">
    <!-- header section strats -->
    <header class="header_section">
      <div class="container">
        <nav class="navbar navbar-expand-lg custom_nav-container pt-3">
          <a class="navbar-brand mr-5" href="index.html">
            <img src="images/logo.png" alt="">
            <span>
              FaceTunes
            </span>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="d-flex ml-auto flex-column flex-lg-row align-items-center">
              <ul class="navbar-nav  ">
                <li class="nav-item active">
                  <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="about.html"> About </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#service--section"> Service </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="contact.html">Contact us</a>
                </li>
              </ul>
              <form class="form-inline">
                <button class="btn  my-2 my-sm-0 nav_search-btn" type="submit"></button>
              </form>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <!-- end header section -->
    <!-- slider section -->
    <section class=" slider_section position-relative">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active">01</li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1">02</li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="container">
              <div class="row">
                <div class="col-md-7">
                  <div class="detail-box">
                    <div>
                      <h1>
                        Welcome To <br>
                        <span>
                          FaceTunes
                        </span>
                      </h1>
                      <p>
                        Your Personalized Mood-Driven Music Experience!
                      </p>
                      <div class="btn-box">
                        <a href="{{ url_for('new_page') }}" class="btn-1">
                          Get Started
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="container">
              <div class="row">
                <div class="col-md-7">
                  <div class="detail-box">
                    <div>
                      <h1>
                        WE listen <br>
                        <span>
                          to your Moods
                        </span>
                      </h1>
                      <p>
                        Create Your Personalized playlist Now.
                      </p>
                      <p>
                        we combine the power of facial expression analysis with the magic of music to curate a unique and immersive experience just for you.
                      </p>
                      <div class="btn-box">
                        <a href="{{ url_for('new_page') }}" class="btn-1">
                          Get Started
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="custom_carousel-control">
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </section>
    <!-- end slider section -->
  </div>

  <!-- about section -->

  <section class="about_section layout_padding">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                About Us
              </h2>
            </div>
            <p>
              We at FaceTunes combine facial expression analysis with music to provide a personalized music experience. Our team of experts has developed cutting-edge algorithms that analyze your facial expressions, enabling us to accurately identify your emotions. With this information, we curate a tailored playlist that aligns with your mood.
              </p>
              <p>
                Join us on this journey of emotions and music discovery, and let FaceTunes transform your mood one song at a time.
              </p>
            <a href="/about.html">
              Our Team
            </a>
          </div>
        </div>
        <div class="col-md-6">
          <div class="img-box">
            <img src="images/about-img.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end about section -->
  <div class="body_bg layout_padding">

    <!-- service section -->

    <section class="service_section" id="service--section">
      <div class="container">
        <div class="heading_container">
          <h2>
            How It Works
          </h2>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="box">
              <div class="img-box">
                <img src="images/s-1.png" alt="">
              </div>
              <h4>
                Facial Expression Analysis
              </h4>
              <p>
                Using advanced facial recognition algorithms, FaceTunes scans and analyzes your facial expressions in real-time. It detects micro-expressions and captures the nuances of your emotions, ensuring accurate mood detection.
              </p>
              <!-- <a href="">
                Read More
              </a> -->
            </div>
          </div>
          <div class="col-md-6">
            <div class="box align-items-end align-items-md-start text-right text-md-left">
              <div class="img-box">
                <img src="images/s-2.png" alt="">
              </div>
              <h4>
                Mood Identification
              </h4>
              <p>
                Our AI-powered system interprets the data obtained from facial expression analysis, employing machine learning techniques to identify your mood with remarkable precision. We consider a wide range of emotions, such as joy, sadness, surprise, anger, and more, to paint a comprehensive picture of your current emotional state.
              </p>
              <!-- <a href="">
                Read More
              </a> -->
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="box">
              <div class="img-box">
                <img src="images/s-3.png" alt="">
              </div>
              <h4>
                Personalized Song Recommendations
              </h4>
              <p>
                Based on your mood identification and taking into account your individual music preferences, FaceTunes curates a customized playlist just for you. Our extensive music library covers various genres, artists, and eras, ensuring that you discover new songs or revisit old favorites that perfectly match your mood.
              </p>
              <!-- <a href="">
                Read More
              </a> -->
            </div>
          </div>
          <div class="col-md-6">
            <div class="box align-items-end align-items-md-start text-right text-md-left">
              <div class="img-box">
                <img src="images/s-4.png" alt="">
              </div>
              <h4>
                User Feedback and Refinement
              </h4>
              <p>
                Your feedback matters! As you explore FaceTunes and listen to the recommended songs, you can provide feedback on the accuracy of the mood detection and the relevance of the song suggestions. This helps us continuously improve our algorithms and tailor the recommendations even more effectively.

              </p>
              <!-- <a href="">
                Read More
              </a> -->
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- end service section -->

    <!-- quote section -->

    <!-- <section class="quote_section layout_padding">
      <div class="container">
        <div class="box">
          <div class="detail-box">
            <h3>
              Get Your Quote Today!
            </h3>
            <p>
              It is a long established fact that a reader will be distracted by the readable content of a page
            </p>
          </div>
          <div class="btn-box">
            <a href="">
              Get A Quote
            </a>
          </div>
        </div>
      </div>
    </section> -->

    <!-- end quote section -->


    <!-- contact section -->

    <section class="contact_section">
      <div class="container">
        <div class="heading_container">
          <h2>
            Let's Get In Touch!
          </h2>
        </div>
      </div>
      <div class="container contact_bg layout_padding2-top">
        <div class="row">
          <div class="col-md-6">
            <div class="contact_form ">
              <form action="">
                <input type="text" placeholder="Name ">
                <input type="email" placeholder="Email">
                <input type="text" placeholder="Message" class="message_input">
                <button>
                  Send
                </button>
              </form>
            </div>
          </div>
          <div class="col-md-6">
            <div class="img-box">
              <img src="images/contact-img.jpg" alt="">
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- end contact section -->

    <!-- client section -->

    <section class="client_section layout_padding-top">
      <div class="d-flex justify-content-center">
        <div class="heading_container">
          <h2>
            Testimonial
          </h2>
        </div>
      </div>
      <div class="container layout_padding2">
        <div id="carouselExample2Indicators" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExample2Indicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExample2Indicators" data-slide-to="1"></li>
            <li data-target="#carouselExample2Indicators" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item ">
              <div class="client_container">
                <div class="client-id">
                  <div class="img-box">
                    <img src="images/client.jpg" alt="">
                  </div>
                  <div class="client_name">
                    <div>
                      <h3>
                        Akanksha Yadav
                      </h3>
                      <p>
                        Sophomore at Graphic Era
                      </p>
                    </div>
                  </div>
                </div>
                <div class="client_detail">
                  <div class="client_text">
                    <blockquote>
                      <p>
                        FaceTunes is a game-changer! The accuracy of their facial expression analysis is remarkable, and the recommended songs always hit the right emotional chords. It's like having a personal DJ who understands my mood perfectly. I highly recommend FaceTunes to music lovers looking for an immersive and personalized experience
                      </p>
                    </blockquote>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item active">
              <div class="client_container">
                <div class="client-id">
                  <div class="img-box">
                    <img src="images/client.jpg" alt="">
                  </div>
                  <div class="client_name">
                    <div>
                      <h3>
                        Shishiro Bannu
                      </h3>
                      <p>
                        IIIT Lucknow
                      </p>
                    </div>
                  </div>
                </div>
                <div class="client_detail">
                  <div class="client_text">
                    <blockquote>
                      <p>
                        I can't imagine my music routine without FaceTunes now. Their algorithm not only reads my facial expressions but also considers my music preferences, resulting in spot-on song recommendations. It's like magic how the music always matches my mood. FaceTunes has truly transformed my music listening experience.
                      </p>
                    </blockquote>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item ">
              <div class="client_container">
                <div class="client-id">
                  <div class="img-box">
                    <img src="images/client.jpg" alt="">
                  </div>
                  <div class="client_name">
                    <div>
                      <h3>
                        Amit Katiyar
                      </h3>
                      <p>
                        executive at Wipro co.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="client_detail">
                  <div class="client_text">
                    <blockquote>
                      <p>
                        FaceTunes is the perfect companion for my daily emotional journey. Whether I need a pick-me-up or some relaxation, FaceTunes delivers the ideal soundtrack for my mood. The seamless integration of technology and music is incredible. It's like they understand me on a deeper level. I'm hooked!
                      </p>
                    </blockquote>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section>


    <!-- end client section -->

  </div>
  <!-- info section -->

  <section class="info_section layout_padding">
    <div class="footer_contact">
      <div class="heading_container">
        <h2>
          Contact Us
        </h2>
      </div>
      <div class="box">
        <a href="" class="img-box">
          <img src="images/location.png" alt="" class="img-1">
          <img src="images/location-o.png" alt="" class="img-2">
        </a>
        <a href="" class="img-box">
          <img src="images/call.png" alt="" class="img-1">
          <img src="images/call-o.png" alt="" class="img-2">
        </a>
        <a href="" class="img-box">
          <img src="images/envelope.png" alt="" class="img-1">
          <img src="images/envelope-o.png" alt="" class="img-2">
        </a>
      </div>
    </div>


  </section>


  <!-- end info section -->

  <!-- footer section -->
  <section class="container-fluid footer_section">
    <p>
      
      <a href="https://html.design/">&copy; Team : Celebi</a>
    </p>
  </section>
  <!-- footer section -->

  <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
  <script type="text/javascript" src="js/bootstrap.js"></script>

</body>

</html>